<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      <p>Hi {{first_name}},</p>
      <p>You (or someone with your email) has requested to reset your password.</p>
      <p>If this was you, <a href='{{password_reset_link}}'>Please Click Here to Reset Your Password</a>.</p>
      <p>Or, paste the following link into your browser:</p>
      <p>{{password_reset_link}}</p>
      <p>If you didn't request a password reset, you don't need to do anything, your password has not been changed.</p>
      <p>Many Thanks,</p>
      <p><strong>cloud98 System</strong></p>
   </body>
</html>