{user.first_name},

Welcome to cloud98! Please see your login details below:

Email: {user.email}
Password: (The password you supplied during signup)

For workers, download the app below to get started:

Android Download: https://play.google.com/store/apps/details?id=nz.co.blackraven.cloud98
iPhone Download: https://apps.apple.com/us/app/cloud98/id1571613073

For employers, go to https://cloud98.blackraven.co.nz to complete your setup.</p>

Thank you again!

Caroline Woodhall
CEO cloud98
+64221986546

Google Play and the Google Play logo are trademarks of Google LLC.