<html>
   <head>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type">
   </head>
   <body>
      <p>{{user.first_name}},</p>

      <p>Welcome to cloud98! Please see your login details below:</p>

      <p><strong>Email</strong>: {{user.email}}</p>
      <p><strong>Password</strong>: <em>The password you supplied during signup</em></p>

      <p>For workers, download the app below to get started:</p>

      <p><strong>Android</strong>: <a href='https://play.google.com/store/apps/details?id=nz.co.blackraven.cloud98&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>Get it on Google Play</a></p>
      <p><strong>iPhone</strong>: <a href='https://apps.apple.com/us/app/cloud98/id1571613073'>Download from Apple App Store</a></p>

      <p>For employers, go to <a href="https://cloud98.blackraven.co.nz">https://cloud98.blackraven.co.nz</a> to complete your setup.</p>

      <p><strong>NOTE:</strong> As an employer, you can only put up shifts from the Website at <a href="https://cloud98.blackraven.co.nz">https://cloud98.blackraven.co.nz</a>. The Mobile apps are for workers only.</p>

      <p>Thank you again!</p>

      <p><strong>cloud98</strong><br>

      <p className='footnote'>Google Play and the Google Play logo are trademarks of Google LLC.</p>
   </body>
</html>